TYPEORM_CONNECTION=mysql
TYPEORM_HOST=localhost
TYPEORM_PORT=3307
TYPEORM_USERNAME=root
TYPEORM_PASSWORD=XXPASSWORDXX
TYPEORM_DATABASE=kassaapje
TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=false
TYPEORM_ENTITIES=server/entity/**/*.ts
