$header-height: 80px;
$menu-width: 64px;
// $default-shadow: 0 3px 6px map-get($colors-neutral, "shadow");
// $theme-shadow: 0 3px 6px map-get($colors-theme, "shadow");

// ---
// Breakpoints
// ---

$breakpoints: (
	phone-small: 321px,
	phone: 480px,
	phone-large: 680px,
	tablet: 960px,
	tablet-large: 1140px,
	desktop: 1440px,
	desktop-large: 1640px,
) !default;