.c-cardlist {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 2em;

  gap: 2em;
}

.c-organisation-card {
  width: 380px;
  height: 250px;
  border-radius: $global-border-radius;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: rem(32px);
  font-weight: 500;

  background-color: #e97b0080;
  color: #e97b00;
  box-shadow: $default-shadow;
}

.c-register-card {
  width: 380px;
  height: 250px;
  border-radius: $global-border-radius;
  box-shadow: $default-shadow;
}

.c-addcard {
  width: 380px;
  height: 250px;
  border-radius: $global-border-radius;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: map-get($colors-neutral, '200');
  box-shadow: $default-shadow;
}
