.c-form {
  width: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 1em;
  margin-left: 1em;
  gap: 40px;

  &-textinputs {
    display: flex;
    flex-direction: column;
  }

  &-altinputs {
    margin-left: 50%;
  }

  &-label {
    color: map-get($colors-neutral, '800');
    font-size: rem(18px);
  }
  &-textinput {
    background-color: white;
    border-radius: calc($global-border-radius / 2);
    border: solid 1px;
    border-color: map-get($colors-neutral, '800');
    height: 2em;
    width: inherit;
    margin-bottom: 16px;
    padding-left: 8px;

    &::placeholder {
      color: map-get($colors-neutral, '600');
      font-style: italic;
    }
  }

  &-edit {
    display: grid;
    grid-template-columns: 30% auto;
    // grid-template-rows: auto;

    &-label {
      margin-top: auto;
      margin-bottom: auto;
      color: map-get($colors-neutral, '800');
    }

    &-field {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: auto;
      color: map-get($colors-neutral, '800');

      &-output {
        margin: none;
      }
      &-icon {
        margin-left: 1em;
        & svg {
          width: 1em;
          height: 1em;
        }
      }
    }
  }
}
