.c-register {
    padding: 48px;
    background-color: map-get($colors-neutral, '100' );
    border-radius: $global-border-radius;
    box-shadow: $default-shadow;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-form {
        display: flex;
        flex-direction: column;
       
    }

    &-container {
        width: 100vw;
        height: 100vh;
        background-color: map-get($colors-theme, 'selection');
    }

    &-title {

        margin: 0;
        padding-bottom: 1em;
        font-family: inherit;
        font-size: 32px;
        font-weight: bold;
        color: map-get($colors-theme, 'base' );
        
        display: flex;
        justify-content: center;

        & p {
            margin: 0;
        }
    }
  }