.c-sidebar {
  background-color: map-get($colors-theme, 'base');
  width: $menu-width;
  height: 100vh;
  margin: none;
  padding: none;

  &-title {
    color: map-get($colors-neutral, '100');
    display: flex;
    justify-content: center;

    font-size: rem(32px);
    font-weight: 700;

    padding-top: 0.5em;
  }

  &-profile {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;

    &-icon svg {
      color: map-get($colors-neutral, '100');
    }

    &-name {
      color: map-get($colors-neutral, '100');
      font-size: rem(24px);
      font-weight: 500;
    }

    &:hover {
      background-color: map-get($colors-theme, 'selection');
      cursor: pointer;
    }
  }

  &-logout {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;

    &-icon svg {
      color: map-get($colors-neutral, '100');
    }

    &-text {
      color: map-get($colors-neutral, '100');
      font-size: rem(24px);
      font-weight: 500;
    }

    &:hover {
      background-color: map-get($colors-theme, 'selection');
      cursor: pointer;
    }
  }

  &-collapse {
    display: flex;
    justify-content: center;
    padding: 1em;

    &-icon svg {
      padding-right: 3em;
      width: 2em;
      height: 2em;
      color: map-get($colors-neutral, '100');
    }

    &-text {
      color: map-get($colors-neutral, '100');
      font-size: rem(24px);
      font-weight: 500;
    }

    &:hover {
      cursor: pointer;
      background-color: map-get($colors-theme, 'selection');
    }
  }

  &-organisations {
    color: map-get($colors-neutral, '100');

    &-title {
      &:hover {
        cursor: pointer;
        background-color: map-get($colors-theme, 'selection');
      }

      &-text {
      }

      &-icon svg {
        color: map-get($colors-neutral, '100');
      }
    }

    &-list {
      list-style: none;

      &-title {
        list-style: none;
        &:hover {
          cursor: pointer;
          background-color: map-get($colors-theme, 'selection');
        }
        &-text {
        }

        &-icon svg {
          color: map-get($colors-neutral, '100');
        }
      }

      &-item {
        list-style: none;
        &:hover {
          cursor: pointer;
          background-color: map-get($colors-theme, 'selection');
        }
      }
    }
  }
}
