.c-activity {
  &--small &__svg {
    width: 1em;
    height: 1em;
  }

  &--small &__circle {
    stroke-width: calc(2*var(--global-baseline));
  }

  &--big &__svg {
      width: calc(var(--global-baseline) * 8);
      height: calc(var(--global-baseline) * 8);
  }

  &__svg {
      width: calc(var(--global-baseline) * 6);
      height: calc(var(--global-baseline) * 6);

      animation: rotate 2s linear infinite;
  }

  &__circle {
      fill: none;
      stroke-width: var(--global-baseline);
      stroke: map-get($colors-theme, "500");
      stroke-dasharray: 283;
      stroke-dashoffset: 75;

      animation: loading 2s linear infinite;

      transform-origin: center center;
  }
}


@keyframes loading {
  0%,
  20% {
    stroke-dashoffset: 250;
    transform: rotate(0deg);
  }
  50%,
  70% {
    stroke-dashoffset: 75;
    transform: rotate(75deg);
  }
  100% {
    stroke-dashoffset: 250;
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}