.c-auth {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: em(480px);

    padding: 48px;
    background-color: map-get($colors-neutral, '100');
    border-radius: $global-border-radius;
    box-shadow: $default-shadow;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__title {
        margin: 0;
        padding-bottom: 1em;
        font-family: inherit;
        font-size: 32px;
        font-weight: bold;
        color: map-get($colors-theme, '500' );
        
        display: flex;
        justify-content: center;

        & p {
            margin: 0;
        }
    }

    &__message {
        text-align: center;
        margin-bottom: 1em;
    }

    &__switch {
        text-align: center;
        margin-top: em(12px);
    }
  }