.c-basket {
  background-color: map-get($colors-neutral, '100');
  box-shadow: $default-shadow;
  // width: 100%;
  border-radius: $global-border-radius;

  padding: 1em;

  &-header {
     display: flex;
     justify-content: space-between;
     align-items: center;

     margin: em(20px) 0;

     &__title {
        font-weight: bold;
        font-size: em(20px);
        color: map-get($colors-theme, '500');
     }

     &__clear {
        border: none;
        background: transparent;
        cursor: pointer;

        border-radius: $global-border-radius;

        display: flex;
        align-items: center;
        justify-content: center;

        color: map-get($colors-theme, '400');

        & svg {
           height: 1.5em;
           width: 1.5em;
        }

        &:hover,
        &:focus {
           color: map-get($colors-theme, '500');
        }

        &:focus {
           outline-color: map-get($colors-theme, '200');
           outline-width: 1px;
        }
     }
  }

  &-list {
     margin: 1em 0;
     display: flex;
     flex-direction: column;
     gap: 1em;

     max-height: 60vh;
     overflow-y: auto;
  }

  &-empty {
     width: 100%;
     text-align: center;
  }

  &-success {
    width: 100%;
    text-align: center;
    color: map-get($colors-status, 'success');

    & svg {
      width: 3em;
      height: auto;
    }
  }

  &-item {
     --button-size: 1.2em;
     display: grid;
     grid-template-columns: var(--button-size) minmax(10ch, auto) var(--button-size) 3ch var(--button-size) 10ch;
     gap: 1ch;
     flex-wrap: nowrap;
     width: 100%;
     flex-wrap: nowrap;

     div, button {
        margin: auto 0;
        display: flex;
        align-items: center;
     }

     &__button {
        padding: 0;
        border: none;
        background-color: transparent;
        outline: none;

        justify-content: center;
        cursor: pointer;

        border-radius: 100%;

        width: var(--button-size);
        height: var(--button-size);

        & svg {
           width: 1em;
           height: 1em;
        }

        color: map-get($colors-neutral, '700');

        &:hover, &:focus {
           color: map-get($colors-neutral, '800');
        }

        &--minus, &--plus {
           border-radius: $global-border-radius;
           color: map-get($colors-neutral, '100');
           
           &:hover, &:focus {
              color: map-get($colors-neutral, '100');
           }
        }

        &--minus {
           background-color: map-get($colors-neutral, '700');

           &:hover, &:focus {
              background-color: map-get($colors-neutral, '800');
           }
        }

        &--plus {
           background-color: map-get($colors-theme, '400');

           &:hover, &:focus {
              background-color: map-get($colors-theme, '500');
           }
        }
     }

     &__name {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
     }

     &__count {
        justify-content: center;
        width: 3ch;
        text-align: center;
     }

     &__price {
        width: minmax(auto, 10ch);
        justify-content: end;
     }
  }

  &-total {
     display: flex;
     justify-content: space-between;

     position: relative;

     margin-top: 1em;
     padding-top: 1em;

     &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: em(1.5px);
        border-radius: em(1.5px);
        margin: 0 2em;
        background-color: map-get($colors-neutral, '700');
        content: '';
        padding: 0 2em;
     }
  }

  &-checkout {
     display: flex;
     justify-content: center;

     margin-top: 1em;
  }
}