.c-button-back {
  background-color: map-get($colors-neutral, '100');
  box-shadow: $default-shadow;

  min-height: 60px;

  min-width: 60px;

  display: flex;

  border: none;
  border-radius: 100%;

  justify-content: center;
  align-items: center;

  svg {
    color: map-get($colors-theme, 'base');
    width: 2rem;
    height: 2rem;

  }

  &:hover {
    background-color: map-get($colors-neutral, '200');
  }
}

.c-button-save {
  background-color: map-get($colors-theme, 'base');
  color: map-get($colors-neutral, '100');
  font-size: rem(28px);
  font-weight: 500;
  border: none;
  height: 60px;
  width: 240px;
  margin-top: 1em;
  border-radius: $global-border-radius;

  &:hover {
    background-color: map-get($colors-theme, 'selection');
    cursor: pointer;
  }
}

.c-button-addcard {

  display: flex;
  width: 6em;
  height: 6em;

  border-radius: 100%;

  background-color: map-get($colors-neutral, '100');
  box-shadow: $default-shadow;

  &:hover {
    background-color: map-get($colors-neutral, '200');
    cursor: pointer;
  }
}

.c-button-edit {
  background-color: map-get($colors-neutral, '600');
  color: map-get($colors-neutral, '100');
  font-size: rem(28px);
  font-weight: 500;
  border: none;
  height: 60px;
  width: 240px;
  margin-top: 1em;
  border-radius: $global-border-radius;

  &:hover {
    background-color: map-get($colors-neutral, '700');
    cursor: pointer;
  }
}


.c-button-manage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: map-get($colors-theme, 'base');
  color: map-get($colors-neutral, '100');
  font-size: rem(20px);
  font-weight: 500;
  border: none;
width: 120px;
height: 50px;
 margin-right: 50px;
  border-radius: $global-border-radius;

  &:hover {
    background-color: map-get($colors-theme, 'selection');
    cursor: pointer;
  }
}