.c-input {
  background-color: map-get($colors-neutral, '100');
  border: 1px solid;
  border-color: map-get($colors-neutral, '800');
  padding: em(11px) em(8px);

  border-radius: calc($global-border-radius / 2);

  display: block;
  
  width: 100%;

  &::placeholder {
    opacity: 0.65;
    font-style: italic;
  }

  &:enabled:hover {
    border-color: map-get($colors-theme, 'selection');
  }

  &:enabled:focus,
  &:enabled:active {
      outline-color: map-get($colors-theme, 'selection');
  }
  &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
  }
}

.c-form {
  width: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 1em;
  margin-left: 1em;
  gap: 40px;

  &-field {
    margin-bottom: em(16px);
  }

  &-label {
    color: map-get($colors-neutral, '800');
    font-size: rem(18px);
  }

  &-error {
    font-size: rem(14px);
    color: map-get($colors-theme, 'error');
  }

  &-textinputs {
    display: flex;
    flex-direction: column;
  }

  &-altinputs {
    margin-left: 50%;
  }

  

  // &-textinput {
  //   background-color: white;
  //   border-radius: calc($global-border-radius / 2);
  //   border: solid 1px;
  //   border-color: map-get($colors-neutral, '800');
  //   padding: em(11px) em(8px);
  //   width: inherit;
  //   padding-left: 8px;

  //   &::placeholder {
  //     color: map-get($colors-neutral, '600');
  //     // font-style: italic;
  //   }
  // }

  &-submit {
    margin-top: em(16px);
    background-color: map-get($colors-theme, 'base');
    color: map-get($colors-neutral, '100');
    font-size: rem(28px);
    font-weight: 500;
    border: none;
    height: 60px;
    width: 100%;
    border-radius: $global-border-radius;

    &:hover {
      background-color: map-get($colors-theme, 'selection');
      cursor: pointer;
    }
  }

  &-edit {
    display: grid;
    grid-template-columns: 30% auto;
    // grid-template-rows: auto;

    &-label {
      margin-top: auto;
      margin-bottom: auto;
      color: map-get($colors-neutral, '800');
    }

    &-field {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: auto;
      color: map-get($colors-neutral, '800');

      &-output {
        margin: none;
      }
      &-icon {
        margin-left: 1em;
        & svg {
          width: 1em;
          height: 1em;
        }
      }
    }
  }
}

.has-error {
  border-color: map-get($colors-theme, 'error');
  color: map-get($colors-theme, 'error');
}