.c-navigation {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 1em;
   padding: 1em;

   &__back {
      cursor: pointer;
      background-color: map-get($colors-neutral, '100');
      box-shadow: $default-shadow;

      min-height: 2.5em;
      min-width: 2.5em;

      display: flex;

      border: none;
      border-radius: 100%;

      justify-content: center;
      align-items: center;

      svg {
         color: map-get($colors-theme, '500');
         width: 100%;
         height: auto;
      }

      &:hover {
         background-color: map-get($colors-neutral, '200');
      }
   }

   &__title {
      font-size: rem(28px);
      color: map-get($colors-theme, '500');
   }

   &__settings {
      color: map-get($colors-theme, '500');

      & svg {
         display: block;
         width: 2em;
         height: 2em;
      }
   }
}