.c-navigation {

    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    

    &-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
        
  
    }
   

    &-back {
        margin-right: .5em;        
    }
    

    &-title {
        color: map-get($colors-theme, '500' );
        min-width: fit-content;
    }

    &-settings {
        color: map-get($colors-theme, '500' );
        

        & svg {
           display: block;
            width: 2em;
            height: 2em;
        }
            
    }
}