.c-popup {
  &-order {
    background-color: map-get($colors-neutral, '100');

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 30%;
    min-width: 250px;
    height: 70%;

    border-radius: $global-border-radius;
    z-index: 2;

    box-shadow: $default-shadow;

    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;

    &-title {
      font-weight: bold;
      font-size: em(20px);
      color: map-get($colors-theme, 'base');
    }
  }
}
