.c-sidebar {
   background-color: map-get($colors-theme, '500');
   display: flex;
   flex-direction: column;
   min-width: $menu-width;
   height: 100vh;

   &--collapsed {
      min-width: $menu-width--collapsed;
      width: $menu-width--collapsed;
   }

   &--collapsed &__org {
      display: none;
   }

   &__organizations {
      max-height: 100%;
      overflow-y: auto;
   }
}

.c-sb-header {
   padding: 0.5em;

   &__title {
      color: map-get($colors-neutral, '100');
      display: flex;
      justify-content: center;
   }

   &__icon {
      display: flex;
      align-items: center;

      svg {
         color: map-get($colors-neutral, '600');
         width: 100%;
         height: auto;
      }
   }
}

.c-sb-button {
   text-decoration: none;

   display: flex;
   align-items: center;
   padding: 0.75em;

   &__icon {
      display: flex;
      align-items: center;
      width: 2em;

      svg {
         color: map-get($colors-neutral, '100');
         width: 100%;
         height: auto;
      }
   }

   &--collapsed {
      justify-content: center;
   }

   &--collapsed &__text {
      display: none;
   }

   &--collapsed &__icon--collapse {
      transform: rotate(180deg);
   }

   &__text {
      margin-left: 1em;
      color: map-get($colors-neutral, '100');
      font-size: rem(20px);
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
   }

   &:hover {
      background-color: map-get($colors-theme, '400');
      cursor: pointer;
   }

   &--bottom {
      margin-top: auto;
   }

   &--main {
      padding: 0.5em;
   }

   &--main &__text {
      font-size: rem(32px);
      font-weight: 700;
      margin-left: auto;
      margin-right: auto;
   }

   &--main &__icon {
      width: 100%;
   }
}

.c-sb-org {
   &__header {
      font-size: rem(20px);
      padding: 8px 0.75em;

      background-color: inherit;
      color: map-get($colors-neutral, '100');
      border: none;
      text-decoration: none;

      display: flex;
      gap: 4px;
      width: 100%;

      justify-content: space-between;
      align-items: center;
   }

   &__header:hover {
      cursor: pointer;
      background-color: map-get($colors-theme, '400');
      // border-radius: 20px 0 0 20px;
   }

   &__title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }

   &--collapsed &__chevron {
      transform: rotate(180deg);
   }

   &__chevron {
      display: flex;

      & svg {
         width: 1.5em;
         height: 1.5em;
      }
   }

   &--collapsed &__content {
      display: none;
   }

   &__content {
      display: flex;

      flex-direction: column;
      list-style: none;

      margin: 4px 0;
      gap: 4px;
      padding-left: 0.75em;
   }

   &__item {
      color: map-get($colors-neutral, '100');
      font-size: rem(16px);
      font-weight: 300;

      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 16px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &--noreg {
         font-weight: 400;
      }

      a,
      a:active,
      a:visited {
         text-decoration: none;
         color: inherit;

         display: flex;
         gap: 8px;
         align-items: center;
      }
   }

   &__item:hover {
      cursor: pointer;
      background-color: map-get($colors-theme, '400');
      border-radius: 20px 0 0 20px;
   }
}

.u-hidden {
   display: none;
}
