.c-sidebar {
   background-color: map-get($colors-theme, '500');
   display: flex;
   flex-direction: column;
   min-width: $menu-width;
   height: 100vh;

   &--collapsed {
      min-width: $menu-width--collapsed;
      width: $menu-width--collapsed;
   }

   &--collapsed &__section {
      display: none;
   }

   &__title {
      color: map-get($colors-neutral, '100');
      display: flex;
      justify-content: center;

      font-size: rem(32px);
      font-weight: 700;

      padding-top: 0.5em;
      padding-bottom: 0.5em;
   }
}

.c-sb-button {
   text-decoration: none;

   display: flex;
   align-items: center;
   padding: 0.75em;

   &__icon {
      display: flex;
      align-items: center;

      svg {
         color: map-get($colors-neutral, '100');
         width: 2em;
         height: 2em;
      }
   }

   &--collapsed {
      justify-content: center;
   }

   &--collapsed &__text {
      display: none;
   }

   &__text {
      margin-left: 1em;
      color: map-get($colors-neutral, '100');
      font-size: rem(20px);
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
   }

   &:hover {
      background-color: map-get($colors-theme, '400');
      cursor: pointer;
   }

   &--bottom {
      margin-top: auto;
   }
}

.c-sb-section {
   color: map-get($colors-neutral, '100');

   max-height: 100%;
   overflow: hidden;

   &__header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-left: 0.5em;
      margin-bottom: 0;
      padding-top: 8px;
      padding-bottom: 8px;

      font-size: rem(20px);
   }

   &--expanded &__header,
   &__header:hover {
      cursor: pointer;

      background-color: map-get($colors-theme, '400');
      border-radius: 20px 0 0 20px;
   }

   &--expanded &__chevron {
      transform: rotate(180deg);
   }

   &__chevron {
      display: flex;
      align-items: center;
      justify-content: center;

      & svg {
         width: 1.5em;
         height: 1.5em;
      }
   }

   &__content {
      display: flex;
      flex-direction: column;
      list-style: none;
      font-size: rem(16px);
      margin-top: 0;

      max-height: 90%;

      overflow: scroll;

      &::-webkit-scrollbar {
         display: none;
      }

      -ms-overflow-style: none;
      scrollbar-width: none; /* Firefox */
   }
}

.c-sb-org {
   margin-bottom: var(--global-whitespace-2);
   margin: 0;

   &__header {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-left: 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-top: 6px;
      padding-bottom: 6px;
   }

   &__header:hover {
      cursor: pointer;

      background-color: map-get($colors-theme, '400');
      border-radius: 20px 0 0 20px;
   }

   &__title {
      overflow: hidden;
      text-overflow: ellipsis;
   }

   &__chevron {
      display: flex;
      justify-content: center;
      align-items: center;
      & svg {
         color: map-get($colors-neutral, '100');
         width: 1.5em;
         height: 1.5em;
      }
   }
}

.c-sb-reg {
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 8px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;

   &:hover {
      cursor: pointer;
      background-color: map-get($colors-theme, '400');
      border-radius: 20px 0 0 20px;
   }
}

.u-hidden {
   display: none;
}